@model Pharmaceuticals_Client.Areas.Admin.Models.AdminViewModel
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "List of Candidates";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a class="btn btn-success m-1" asp-controller="Candidates" asp-action="Create">Create New</a>
</p>
<form asp-controller="Candidates" method="get">
    <div class="form-group">
        <input class="form-control-sm" name="name" placeholder="Enter name" />
        <input class="form-control-sm" name="phone" placeholder="Enter phone" />
        <input class="form-control-sm" name="email" placeholder="Enter Email" />
        <input class="form-control-sm" name="education" placeholder="Enter education detail" />
        <div class="m-1">
            <label class="control-label">Start date</label>
            <input class="form-control-sm" asp-for="@Model.candidate.Created_date" name="startDate" />
            <label class="control-label">End date</label>
            <input class="form-control-sm" asp-for="@Model.candidate.Created_date" name="endDate" />
        </div>
        <button class="btn btn-warning" type="submit">search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.candidate.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.candidate.Created_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.canList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Image == null || item.Image == "")
                    {
                        <img src="/candidateImages/plain-avatar.png" alt="Alternate Text" width="100" />
                    }
                    else
                    {
                        <img src="/candidateImages/@item.Image" alt="Alternate Text" width="100" />
                    }
                </td>
                <td>
                    <form asp-action="Download" method="get">
                        <input value="@item.CandidateId" name="id" hidden />
                        <button class="btn btn-dark" type="submit"><i class="fas fa-download"></i></button>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_date)
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.CandidateId" class="btn btn-info">Detail</a>
                    <a asp-action="Edit" asp-route-id="@item.CandidateId" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" class="d-inline">
                        <input type="hidden" asp-for="@item.CandidateId" name="id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model.canList, page => Url.Action("Index", new { page = page, name = ViewBag.name, phone = ViewBag.phone, email = ViewBag.email, education = ViewBag.education, startDate = ViewBag.startDate, endDate = ViewBag.endDate }),
    new PagedListRenderOptions
    {
        ContainerDivClasses = new string[] { "p-3" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    }
)