@model Pharmaceuticals_Client.Areas.Admin.Models.AdminViewModel
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "List of Categories";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a class="btn btn-success m-1" asp-controller="Categories" asp-action="Create">Create New</a>
</p>
<form asp-controller="Categories" method="get">
    <div class="form-group">
        <input class="form-control-sm" name="name" placeholder="Enter name" />
        <input class="form-control-sm" asp-for="@Model.category.Status" name="status" />
        <label class="control-label">Start date</label>
        <input class="form-control-sm" asp-for="@Model.category.CreatedDate" name="startDate" />
        <label class="control-label">End date</label>
        <input class="form-control-sm" asp-for="@Model.category.CreatedDate" name="endDate" />
        <button class="btn btn-warning" type="submit">search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.catList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.CategoryId" class="btn btn-info">Detail</a>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" class="d-inline">
                        <input type="hidden" asp-for="@item.CategoryId" name="id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model.catList, page => Url.Action("Index", new { page = page, name = ViewBag.name, status = ViewBag.status, startDate = ViewBag.startDate, endDate = ViewBag.endDate }),
    new PagedListRenderOptions
    {
        ContainerDivClasses = new string[] { "p-3" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    }
)