@model Pharmaceuticals_Client.Areas.Admin.Models.AdminViewModel
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "List of Manufacturers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a class="btn btn-success m-1" asp-controller="Manufacturers" asp-action="Create">Create New</a>
</p>
<form asp-controller="Manufacturers" method="get">
    <div class="form-group">
        <input class="form-control-sm" name="name" placeholder="Enter name" />
        <input class="form-control-sm" name="address" placeholder="Enter address" />
        <input class="form-control-sm" name="email" placeholder="Enter email" />
        <input class="form-control-sm" name="phone" placeholder="Enter phone" />
        <div class="m-1">
            <label class="control-label">Start date</label>
            <input class="form-control-sm" asp-for="@Model.manufacturer.CreatedDate" name="startDate" />
            <label class="control-label">End date</label>
            <input class="form-control-sm" asp-for="@Model.manufacturer.CreatedDate" name="endDate" />
        </div>
    </div>
    <button class="btn btn-warning" type="submit">search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer.ManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.manuList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.ManufacturerId" class="btn btn-info">Detail</a>
                    <a asp-action="Edit" asp-route-id="@item.ManufacturerId" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" class="d-inline">
                        <input type="hidden" asp-for="@item.ManufacturerId" name="id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model.manuList, page => Url.Action("Index", new { page = page, name = ViewBag.name, address = ViewBag.address, email = ViewBag.email, phone = ViewBag.phone, startDate = ViewBag.startDate, endDate = ViewBag.endDate }),
    new PagedListRenderOptions
    {
        ContainerDivClasses = new string[] { "p-3" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    }
)